@import url('../../styles/style.css');
.order-container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.checkout-box {
    display: flex;
    justify-content: center;

}

.box1,
.box2,
.box3 {
    flex-direction: row;
    padding: 2rem;
    width: 15rem;

}

.address-data {
    margin: 0.5rem;
    line-height: 2rem;
}