@import url("../../styles/style.css");
.nav-link {
    padding: 0.3rem;
}

.btn-cart-icon {
    background-color: var(--white);
}

.nav a {
    text-decoration: none;
}

nav.grid {
    display: grid;
    grid-template-columns: auto auto;
}

nav ul {
    padding: 0.4rem;
    display: flex;
    flex-direction: row;
    grid-column: 3;
    justify-content: start;
    column-gap: 2rem;
    list-style-type: none;
}